body {
    background-color: #F7F7F9;
}

h2 a {
    color: #333;
    text-decoration: underline;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.block-left {
    display: block;
    float: left;
}

a.block-left {
    margin-right: 5px;
}