<h1 class="text-center">Welcome to Favorite Places</h1>
<div class="text-center">
    <a class="btn btn-primary" href="/login">Log In</a>
    <a class="btn btn-primary" href="/signup">Sign Up</a>
</div>