<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Favorite Places</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="text/css" href="<%= url("/css/style.css") %>">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="navbar-brand">Favorite Places</a></li>
                        <li><a href="/places">All Places</a></li>
                        <li><a href="/users/<%= current_user.slug %>">My Places</a></li>
                        <li><a href="/places/new">Create Place</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>